<?xml version="1.0" encoding="utf-8" ?>
<Door_Monitoring_Settings>
  <AMS_NET_ID>5.12.6.80.1.1</AMS_NET_ID>
  <PORT_NO>801</PORT_NO>
  <DOOR_SETTINGS>
    <DOOR Index="1">
      <DOOR_ID>1</DOOR_ID>
      <PLC_DOOR_ID>1</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 1 - MICRO LAB</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="2">
      <DOOR_ID>2</DOOR_ID>
      <PLC_DOOR_ID>2</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 2 - ML3 PROCESS AREA</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="3">
      <DOOR_ID>3</DOOR_ID>
      <PLC_DOOR_ID>3</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 3 - ML3 PROCESS AREA </DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="4">
      <DOOR_ID>4</DOOR_ID>
      <PLC_DOOR_ID>4</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 4 - ML3 MIDLINE</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="5">
      <DOOR_ID>5</DOOR_ID>
      <PLC_DOOR_ID>5</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 5 - FBL WAREHOUSE</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="6">
      <DOOR_ID>6</DOOR_ID>
      <PLC_DOOR_ID>6</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 6 - Chocolate Storage</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="7">
      <DOOR_ID>7</DOOR_ID>
      <PLC_DOOR_ID>7</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 7 - FBL WAREHOUSE</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="8">
      <DOOR_ID>8</DOOR_ID>
      <PLC_DOOR_ID>8</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 8 - PEANUT AREA</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="9">
      <DOOR_ID>9</DOOR_ID>
      <PLC_DOOR_ID>9</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 9 - PEANUT AREA</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="10">
      <DOOR_ID>10</DOOR_ID>
      <PLC_DOOR_ID>10</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 10 - NEAR GLUCOSE TANK</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="11">
      <DOOR_ID>11</DOOR_ID>
      <PLC_DOOR_ID>11</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 11 - FBL KITCHEN AREA</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="12">
      <DOOR_ID>12</DOOR_ID>
      <PLC_DOOR_ID>12</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 12 - HOT RM</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="13">
      <DOOR_ID>13</DOOR_ID>
      <PLC_DOOR_ID>13</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 13 - POWDER RM</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="14">
      <DOOR_ID>14</DOOR_ID>
      <PLC_DOOR_ID>14</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 14 - FBL WASHING RM</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="15">
      <DOOR_ID>15</DOOR_ID>
      <PLC_DOOR_ID>15</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 15 - R AND D LAB</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="16">
      <DOOR_ID>16</DOOR_ID>
      <PLC_DOOR_ID>16</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 16 - MECHANICAL W/S</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="17">
      <DOOR_ID>17</DOOR_ID>
      <PLC_DOOR_ID>17</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 17 - STORES AREA</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="18">
      <DOOR_ID>18</DOOR_ID>
      <PLC_DOOR_ID>18</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 18 - JEWEL LINE PACING AREA</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="19">
      <DOOR_ID>19</DOOR_ID>
      <PLC_DOOR_ID>19</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 19 - JEWEL LINE CASING AREA</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="20">
      <DOOR_ID>20</DOOR_ID>
      <PLC_DOOR_ID>20</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 20 - NEAR UPSTAIRE STEPS</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="21">
      <DOOR_ID>21</DOOR_ID>
      <PLC_DOOR_ID>21</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 21 - FBL WRAPPING AREA</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="22">
      <DOOR_ID>22</DOOR_ID>
      <PLC_DOOR_ID>22</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 22 - FBL WRAPPING CASING AREA</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="23">
      <DOOR_ID>24</DOOR_ID>
      <PLC_DOOR_ID>23</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 24 - PEDESTRIAN CORNER</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="24">
      <DOOR_ID>25</DOOR_ID>
      <PLC_DOOR_ID>24</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 25 - WAREHOUSE AREA</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="25">
      <DOOR_ID>26</DOOR_ID>
      <PLC_DOOR_ID>25</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 26 - WAREHOUSE TO PEDSTRIAN ROUTE</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="26">
      <DOOR_ID>27</DOOR_ID>
      <PLC_DOOR_ID>26</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 27 - ML1 WRAPPING</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="27">
      <DOOR_ID>28</DOOR_ID>
      <PLC_DOOR_ID>27</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 28 - ML1 PROCESS</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="28">
      <DOOR_ID>29</DOOR_ID>
      <PLC_DOOR_ID>28</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 29 - NEAR PANEL RM</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="29">
      <DOOR_ID>30</DOOR_ID>
      <PLC_DOOR_ID>29</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 30 - RCP AREA</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="30">
      <DOOR_ID>31</DOOR_ID>
      <PLC_DOOR_ID>30</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 31 - RCP AREA</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="31">
      <DOOR_ID>32</DOOR_ID>
      <PLC_DOOR_ID>31</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 32 - MILL RM</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="32">
      <DOOR_ID>33</DOOR_ID>
      <PLC_DOOR_ID>32</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 33 - MELTING GRID</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="33">
      <DOOR_ID>34</DOOR_ID>
      <PLC_DOOR_ID>33</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 34 - CANTEEN AREA</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="34">
      <DOOR_ID>35</DOOR_ID>
      <PLC_DOOR_ID>34</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 35 - NPD LAB</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="35">
      <DOOR_ID>36</DOOR_ID>
      <PLC_DOOR_ID>35</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 36 - ML3 FIRST FLOOR</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="36">
      <DOOR_ID>37</DOOR_ID>
      <PLC_DOOR_ID>36</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 37 - CHILDREN ROLL</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="37">
      <DOOR_ID>38</DOOR_ID>
      <PLC_DOOR_ID>37</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 38 - DAY DANK</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="38">
      <DOOR_ID>39</DOOR_ID>
      <PLC_DOOR_ID>38</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 39 - END OF MID LINE</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="39">
      <DOOR_ID>40</DOOR_ID>
      <PLC_DOOR_ID>39</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 40 - CHO.RM. 1ST FLOOR</DOOR_DESCRIPTION>
    </DOOR>	
    <DOOR Index="40">
      <DOOR_ID>41</DOOR_ID>
      <PLC_DOOR_ID>40</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 41 - FBL BATCHING AREA</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="41">
      <DOOR_ID>42</DOOR_ID>
      <PLC_DOOR_ID>41</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 42 - OFFICE FIRST FLOOR</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="42">
      <DOOR_ID>43</DOOR_ID>
      <PLC_DOOR_ID>42</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 43 - OFFICE GROUND FLOOR</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="43">
      <DOOR_ID>44</DOOR_ID>
      <PLC_DOOR_ID>43</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 44 - OFFICE GROUND FLOOR</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="44">
      <DOOR_ID>45</DOOR_ID>
      <PLC_DOOR_ID>44</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 45 - OFFICE FIRST FLOOR</DOOR_DESCRIPTION>
    </DOOR>
    <DOOR Index="45">
      <DOOR_ID>46</DOOR_ID>
      <PLC_DOOR_ID>45</PLC_DOOR_ID>
      <DOOR_DESCRIPTION>Door 46 - NEAR MEETING HALL</DOOR_DESCRIPTION>
    </DOOR>
  </DOOR_SETTINGS>
</Door_Monitoring_Settings>
